<h1>Chamber Group: {{chamber_group.name}}</h1>

<ul>
{% for student in student_list %}
    <li><a href="/student/{{student.id}}/">{{student.getName}}</a></li>
{% endfor %}
</ul>
<a href="/chamber_groups/">Back to chamber group list</a>
