<h1>Chamber Groups</h1>

{% if group_list %}
    <ul>
    {% for group in group_list %}
        <li><a href="/chamber_group/{{group.id}}/">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no chamber group in the system.</p>
{% endif %}
