<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
</style>

<h1>Choose schedule for {{teacher.getName}}</h1>

<form action="{% url 'lesson_scheduling:saveSchedule' teacher_id %}" method="post">
{% csrf_token %}
<table style="width:50%">
{% for schedule in schedule_list %}
  <tr>
    <td>
        <input type="radio" name="choice" value="{{schedule}}" />
    </td>
    <td>{% autoescape off %}
        {{schedule}}
    {% endautoescape %}</td>
  </tr>
{% endfor %}
</table>
<input type="submit" value="SaveSchedule" />
</form>
