<table style="width:50%">
    <tr>
        <td><a href="{% url 'lesson_scheduling:index' %}">
          Teachers</a></td>
        <td><a href="{% url 'lesson_scheduling:students' %}">
          Students</a></td>
        <td><a href="{% url 'lesson_scheduling:chamber_groups' %}">
          Chamber Groups</a></td>
    </tr>
</table>

<h1>Schedule classes</h1>
{% if teacher_list %}
    <ul>
    {% for teacher in teacher_list %}
        <li><a href="{% url 'lesson_scheduling:teacher' teacher.id %}">
          {{ teacher.getName }}</a></li>
    {% endfor %}
    </ul>

    <h2>Other operation</h2>
    <p><a href="{% url 'lesson_scheduling:updateStudentSchedule' %}">
      Update students' schedule (college classes)</a></p>
{% else %}
    <p>There are no teacher in the system.</p>
    <p><a href="{% url 'lesson_scheduling:dataInput' %}">
      Read teachers and students data from csv files </a></p>
{% endif %}
