<h1>Schedule Saved for {{teacher.getName}}</h1>

{% for date in dates %}
	{{date}} with {{teacher.getName}}
	<ul>
	{% for s in schedule %}
	    <li>{{s}}</li>
	{% endfor %}
	</ul>
{% endfor %}

<a href="/">Back to Index</a>
