{% if student_list %}
    <ul>
    {% for student in student_list %}
        <li><a href="/student/{{ student.id }}/">{{ student.getName }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no student in the system.</p>
{% endif %}
