<h1>Schedule lessons for {{teacher.getName}}</h1>

<!-- The next step of the workflow is the schedule view. -->
<form action="{% url 'lesson_scheduling:schedule' teacher.id %}" method="post">
{% csrf_token %}
<!-- The date to be scheduled. -->
Date: <input type="text", name="date", value="08/30/2015"/>
<br>
<!-- Schedule for the same day of multiple weeks together. -->
<input type="checkbox", name="repeat", value="repeat"/>
Every week until: <input type="text", name="last_date", value="08/30/2015"/>
<br>
<!-- The starting time of the classes. -->
Start time: <input type="text", name="start_time", value="09:00"/>
<br>



<hr>
<table>
<tr>
    <td>Student / Chamber Group</td>
    <td>Duration</td>
    <td>Position</td>
</tr>

{% for student in student_list %}
    <tr>
        <td>{{student.getName}}</td>
        <td><input type="text", name="durationS{{student.id}}", value="0"/></td>
        <td><input type="text", name="positionS{{student.id}}", value="0"/></td>
    </tr>
{% endfor %}
{% for chamber_group in chamber_group_list %}
    <tr>
        <td>{{chamber_group.name}}</td>
        <td><input type="text", name="durationC{{chamber_group.id}}", value="0"/></td>
        <td><input type="text", name="positionC{{chamber_group.id}}", value="0"/></td>
    </tr>
{% endfor %}

    <tr>
        <td>Break</td>
        <td><input type="text", name="durationB", value="0" /></td>
        <td><input type="text", name="positionB", value="0"/></td>
    </tr>
</table>
<input type="submit" value="schedule" />
</form>
